@model IEnumerable<ProyectoFinal_EstDatos.Clases.Paciente>
@using ProyectoFinal_EstDatos.Clases;
@{
    ViewData["Title"] = "CamasHospital";
}

<body>
    <header class="PacientesSospechos">
        <div class="textos">
            <h1 class="titulo">Camas del Hospital</h1>
            <h3 class="subtitulo">@ViewBag.NombreHospital</h3>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Edad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DPI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </th>
                    <th style="width:auto">
                        Síntomas
                    </th>
                    <th style="width:auto">
                        Descripción
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Paciente item in ViewBag.Confirmados)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Posicion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DPI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sintomas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @if (item.Nombre == "Cama")
                            {
                                <a class="btn btn-outline-danger btn-lg btn-block"  >Recuperado</a>
                            }
                            else
                            {
                                <a href='@Url.Action("CurarPaciente", "CovidGuate", new { Posicion = (item.Posicion - 1)})' class="btn btn-outline-success btn-lg btn-block">Recuperado</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a class="btn btn-outline-info" asp-action="MostrarHospital">Regresar</a>
        </div>
    </div>
</body>

