@model IEnumerable<ProyectoFinal_EstDatos.Clases.Paciente>
@using ProyectoFinal_EstDatos.Clases;

@{
    ViewData["Title"] = "ColaConfirmados";
}
    <body>

        <header class="PacientesSospechos">
            <div class="textos">
                <h1 class="titulo">Lista de Espera de Confirmados</h1>
                <h3 class="subtitulo">@ViewBag.NombreHospital</h3>
            </div>
            <div class="sesgoabajo"></div>
        </header>
        <div class="container">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Edad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DPI)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Departamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Municipio)
                        </th>
                        <th style="width:auto">
                            Síntomas
                        </th>
                        <th style="width:auto">
                            Descripción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Paciente item in ViewBag.ColaConfirmados)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Edad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DPI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departamento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Municipio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sintomas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="sesgoabajo-lista"></div>
        <section class="contenedorlista">
            <p>

            </p>
            <center>
                <a class="btn btn-outline-light btn-block" asp-action="MostrarHospital">Regresar</a>
            </center>
            <p>

            </p>
        </section>
    </body>