
@{
    ViewData["Title"] = "Hospitales";
}
<div class="text-center">
    <h1>Hospitales </h1>
    <h2>
        Red De Hospitales Covid-19 en Guatemala
    </h2>
</div>
<hr />
<hr />
<a href='@Url.Action("SeleccionarHospital","CovidGuate", new { id = 1})' class="btn btn-outline-dark btn-lg btn-block">Hospital De Gualetema</a>
<hr />
<a href='@Url.Action("SeleccionarHospital","CovidGuate", new { id = 2})' class="btn btn-outline-info btn-lg btn-block">Hospital De Quetzaltenango</a>
<hr />
<a href='@Url.Action("SeleccionarHospital","CovidGuate", new { id = 3})' class="btn btn-outline-warning btn-lg btn-block">Hospital De Petén</a>
<hr />
<a href='@Url.Action("SeleccionarHospital","CovidGuate", new { id = 4})' class="btn btn-outline-primary btn-lg btn-block">Hospital De Escuintla</a>
<hr />
<a href='@Url.Action("SeleccionarHospital","CovidGuate", new { id = 5})' class="btn btn-outline-success btn-lg btn-block">Hospital De Zacapa</a>
<hr />
<div>
    <a class="btn btn-outline-info btn-lg btn-block" asp-action="Index">Regresar</a>
</div>