@model IEnumerable<ProyectoFinal_EstDatos.Clases.Cama>
@using ProyectoFinal_EstDatos.Clases;
@{
    ViewData["Title"] = "MostrarTablaHash";
}

<body>
    <header class="PacientesSospechos">
        <div class="textos">
            <h1 class="titulo">Pacientes Antendidos Por en Camas</h1>
            <h3 class="subtitulo">Tabla de Pacientes</h3>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <div class="container">
        <section>
            <center>
                <p class="subtitulo">
                    Para la busqueda necesita ingrear el ID de la cama
                    La Cual se divide 10 id's por Region
                </p>
            </center>
        </section>
        <hr />
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DPI)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cama item in ViewBag.Tabla)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DPI)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>